:root {
  /* color pallate for dark mode*/
  --primary-clr: #151515;
  --secondary-clr: #6f6f6f;
  --tertiary-clr: #3f3f3f;
  --subtitle-clr: #0d0d0d;
  --link-clr: #32a85d;
  --ctn-clr: #212121;
  --bg-clr: #fff9f2;
  --accent-clr: #32a85d;
  --non-accent-clr: rgba(50, 168, 93, 20%);

  /***** Fonts *****/
  --ff-primary: "Helvetica Now Text", Helvetica;
  --ff-body: "Helvetica Now Display", Helvetica;
  --ff-secondary: "Source Sans Pro", sans-serif;

  /***** Font Size *****/

  /* 
      clamp(min,default,max) 
        - it is a responsive way to set font sizes 
        - min : when viewport width is small font size will decrease upto min value
        - default : the font size you want to set as per design
        - max : if viewport is very larger the maximum it will go to max value
       */

  /* Small font size */
  --fs-small: clamp(1rem, 1.25rem, 1.05vw);
  --fs-small-1: clamp(1.2rem, 1.35rem, 1.1vw);

  /* Normal font size */
  --fs-normal-0: clamp(1.2rem, 1.4rem, 1.2vw);
  --fs-normal-1: clamp(1.2rem, 1.6rem, 1.4vw);

  /* Larger font size */
  --fs-large: clamp(2.2rem, 3.8rem, 3.2vw);
  --fs-large-0: clamp(2.5rem, 4.2rem, 3.6vw);
  --fs-large-1: clamp(3.5rem, 5rem, 4vw);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
}
/* 
    *******
    Hide Scrollbars
    *******
    */
body::-webkit-scrollbar {
  width: 10px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: #000 #000;
}
body::-webkit-scrollbar-track {
  background: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #000;
}

/* 
    ******
    Typography
    ******
     */

img {
  max-width: 100%;
}
a {
  font-size: 100%;
  color: inherit;
  text-decoration: none;
  letter-spacing: inherit;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-weight: inherit;
}

/*
    ******
    Home Page - Header
    ******
    */
.container {
  height: 100vh;
  background: var(--bg-clr);
  color: var(--primary-clr);
  position: relative;
  font-weight: 300;

  /* overflow: hidden; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 90%;
  margin: 0 auto;
  min-height: 10vh;
  font-size: var(--fs-normal-0);
  font-weight: normal;
}
.logo {
  text-transform: uppercase;
  font-size: var(--fs-normal-0);
  font-family: var(--ff-body);
  font-weight: 300;
  letter-spacing: .5px;
}
.nav__links {
  display: flex;
  justify-content: center;
  gap: 3.25em;
  flex-grow: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav__links li {
  font-family: var(--ff-primary);
  font-size: var(--fs-small);
  font-weight: 400;
  color: var(--primary-clr);
  transition: all 0.15s;
  padding-bottom: 0.25em;
  cursor: pointer;
  position: relative;  
  letter-spacing: .8px;
}
.nav__links li:hover {
  color: var(--link-clr);
}

.nav__links li:hover::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background: var(--link-clr);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.nav__social {
  max-width: 10rem;
}
.nav__social ul {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

/*
    ******
    Home Page - Hero Section
    ******
    */
.section {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-container {
  transform: translateY(-5vh);
}
.section-container .wrapper {
  align-items: center;
  gap: 4em;
}
.hero-section__title {
  font-family: var(--ff-body);
  font-size: var(--fs-large-1);
  font-weight: 300;
  text-align: center;
  letter-spacing: 0;
}

.img-wrapper {
  max-width: 50%;
}
/*
    *******
    toggle class 
    *******
    */
.accent-text {
  color: var(--accent-clr);
}

.active-link {
  color: var(--link-clr);
}

.active-link::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background: var(--link-clr);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* 
    ******
    Utilities Class
    ******
    */

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
