.weplan-section {
  position: relative;
}
.weplan-section > div {
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  font-family: var(--ff-body);
}
.weplan-section__title {
  color: var(--accent-clr);
  font-size: var(--fs-normal-1);
}
.img-wrapper {
  position: relative;
  width: 50%;
  margin: 0;
}
.img-text p {
  position: absolute;
  font-size: var(--fs-vsmall);
  color: var(--accent-clr);
  font-weight: 300;
  letter-spacing: 0.5px;
  cursor: pointer;
  z-index: 100;
  transition: all 0.5s;
}
.text-1 {
  top: 34%;
  left: 32.5%;
  transform: rotate(-45deg);
}
.text-2 {
  top: 34%;
  right: 34%;
  transform: rotate(45deg);
}
.text-3 {
  top: 44.5%;
  left: 39.8%;
  transform: rotate(-54deg);
  font-size: 0.8rem;
}
.text-4 {
  top: 44.5%;
  right: 39.8%;
  transform: rotate(54deg);
}
.text-5 {
  bottom: 44.5%;
  left: 50%;
  transform: translateX(-50%);
}

/* 
*******
  Model card design
*******
 */
.weplan-article {
  position: absolute;
  z-index: 1;
  background: var(--accent-clr);
  color: var(--bg-clr);
  width: 85%;
  height: 90%;
  border-radius: 1rem;
  padding: 6rem 6rem 0 6rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;

  /* opacity: 0;
  pointer-events: none; */
  transition: all 0.2s;
}

.close-icon {
  position: absolute;
  right: 3%;
  top: 5%;
  cursor: pointer;
  z-index: 1;
}
.weplan-article--left {
  width: 60%;
}

.weplan-article .weplan-title {
  font-family: var(--ff-body);
  font-weight: 400;
  opacity: 0.5;
  font-size: var(--fs-large);
  display: inline-block;
}
#weplan-title-select {
  position: absolute;
  font-weight: 400;
  font-family: var(--ff-body);
  font-size: var(--fs-medium-1);
  margin-left: 0.5em;
  color: var(--bg-clr);
  opacity: 1;
  pointer-events: none;
}
.weplan-description {
  padding-top: 3em;
  padding-left: 2em;
  font-family: var(--ff-primary);
  font-size: var(--fs-normal-1);
  font-weight: 400;
  line-height: 150%;
}
.weplan-info:not(:last-child) {
  margin-bottom: 2em;
}
.weplan-description .info {
  font-weight: 100;
  opacity: 0.7;
  letter-spacing: 0.4px;
}
.weplan-article--right {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  /* border: 2px solid; */
  background-repeat: no-repeat !important;
}

/* Setting background position of all images specifically */
#bg-expansion {
  /* expansion */
  background-image: url(../assets/images/weplan-images/expansion.png);
  background-size: 100%;
  background-position: top;
  right: 0%;
  bottom: 0%;
}
#bg-art {
  /* art */
  background-image: url(../assets/images/weplan-images/art.png);
  background-size: 70%;
  background-position: right;
  right: 0%;
  bottom: 0%;
}
#bg-innovation {
  /* innovation */
  background-image: url(../assets/images/weplan-images/innovation.svg);
  background-position: right center;
  position: absolute;
  top: 0;
  right: 5%;
}
#bg-lifestyle {
  /* lifestyle */
  background-image: url(../assets/images/weplan-images/lifestyle.png);
  background-size: 80%;
  top: 0;
  right: 0;
  background-position: 100% center;
}
#bg-community {
  /* community */
  background-image: url(../assets/images/weplan-images/community.png);
  background-size: 70%;
  top: 0;
  right: 0;
  background-position: 100% center;
}

.hide-article {
  opacity: 0;
  pointer-events: none;
}

.animateText {
  top: 16.5%;
  left: -10%;
  transform: rotate(0);
}
