.section-wrapper {
  height: 90vh;
  font-family: var(--ff-primary);
}
.section-wrapper > div {
  justify-content: space-between;
  padding: 0 8rem;
  height: 100%;
  gap: 4em;
  padding: 6em;
}

.section-content {
  max-width: 50%;
  margin-left: 5rem;
}
.section-title {
  color: var(--accent-clr);
  font-weight: 500;
  font-size: var(--fs-large-1);
}

.section-subtitle {
  font-size: var(--fs-small);
  letter-spacing: 0.5px;
  font-weight: 500;
  background: var(--non-accent-clr);
  max-width: max-content;
  padding: 0.6em 1em;
  margin-top: 1em;
}
.section-info {
  font-size: var(--fs-small-1);
  font-weight: 400;
  color: var(--subtitle-clr);
  line-height: 165%;
}
.section-info > p {
  letter-spacing: 0.5px;
  margin-top: 2.5em;
}
.section-img {
  width: 50rem;
  height: 100%;
  overflow: hidden;
  border-radius: 1rem;
  align-self: center;
  /* max-width: 80%; */
}
.section-img > img {
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
